.bar-chart {
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis {
    font: 14px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

.pitch-types {
  .pitch-results {
    border-bottom: 2px solid white;
    margin-bottom: 2px;
    font-weight: 900;
  }
}

.tooltip {
  background: grey;
  padding: .5rem;
  border-radius: .3rem;
  color: white;
}
